<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mixxamm.smartpassalpha">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permissie voor internet -->
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- Om na te kijken of er een internetverbinding beschikbaar is -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Smartpass"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".LeerkrachtenActivity" />
        <activity android:name=".ScanActivity" />
        <activity android:name=".LoginTest" />
        <activity android:name=".ToonLeerlingInfo" />
        <activity android:name=".WachtwoordInstellen" />
        <activity
            android:name=".Introductie"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_introductie"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".WoWoAlphaAnimationActivity" />
        <activity android:name=".ScanActivity2" />
        <activity android:name=".Mail" />
        <activity
            android:name=".LeerlingActivity"
            android:label="@string/title_activity_leerling"></activity>
    </application>

</manifest>